@model IEnumerable<Reviewer.Models.Data.BaiViet>
@{
    ViewData["Title"] = "QLBaiVietHuyKichHoat";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:black;">Quản Lý Bài Viết Chưa Kích Hoạt</h2>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Tên Bài</th>
            <th>Tag</th>
            <th>Hình Ảnh Bài Viết</th>
            <th>Lượt Xem</th>
            <th>Ngày Viết</th>
            <th>Tình Trạng</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TenBai)</td>
                <td>@Html.DisplayFor(modelItem => item.MaTag)</td>
                <td>
                    <img src="~/Img/SmartPhone/@item.HinhAnhBv" width="40" height="40" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.LuotXem)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayViet)</td>
                <td>
                    @if (item.TinhTrang == false)
                    {
                        <p>Hủy Kích Hoạt</p>
                    }
                    else
                    {
                        <p>Kích Hoạt</p>
                    }
                </td>
                <td>
                    <div>
                        <div>
                            <a class="btn btn-primary" style="float:left; margin-right:10px" href="@Url.Action("Sua","Admin", new { id = item.MaBai})">Sửa</a>
                        </div>
                        <div>
                            <a class="btn btn-primary" style="float:left; margin-right:10px" onclick="return confirm('Bạn có muốn kích hoạt bài viết này ?');" href="@Url.Action("KichHoatBV", "Admin", new { id = item.MaBai })">Kích Hoạt</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    }


</table>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ Bài Viết",
                "sZeroRecords": "Không tìm thấy Bài Viết nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ ",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 Bài Viết",
                "sInfoFiltered": "(được lọc từ _MAX_ Bài Viết)",
                "sInfoPostFix": "",
                "sSearch": "Tìm Bài Viết:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }

            }
        });
    });
</script>



