@model Reviewer.Models.Data.Author

@{
    ViewData["Title"] = "Xoa1";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xoá Author</h2>
<div>
    <h3>Bạn có chắc chắn muốn xoá???</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaReviewer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaReviewer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsernameRe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsernameRe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PasswordRe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PasswordRe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullnameRe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullnameRe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailRe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailRe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvatarRe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvatarRe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChiRe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChiRe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>
    </dl>
    
    <form asp-action="Xoa1">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="QLReviewer">Back to List</a>
    </form>
</div>
